@using RoastHiveMvc.ViewModels
@model ProductVM

@{
    ViewData["Title"] = "Home Page";
}

@{
    var toastrMessage = TempData["ToastrMessage"] as string;
}

<!-- Display toastr message if available -->
@if (!string.IsNullOrEmpty(toastrMessage))
{
    <script>
        $(document).ready(function() {
            toastr.success('@toastrMessage');
        });
    </script>
}

<!-- Hero section -->
<div class="header-content">
    <div class="container-fluid" id="hero-content">
        <div class="row">
            <div id="home-header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 my-auto ms-3 me-3">
                            <h1 class="display-4 main-heading text-uppercase">
                                Discover the Finest Coffee Beans from Around the World
                            </h1>
                            <h3 class="sub-heading pt-2">
                                Awaken Your Senses to Extraordinary Coffee Delights
                            </h3>
                            <div class="my-5">
                                <h4>
                                    <a asp-controller="Shop" asp-action="Index" class="btn btn-outline-success btn-lg py-2" aria-label="Explore offers">
                                        SHOP NOW
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Higlights section -->
<section id="highlights-banner-section" class="text-center">
    <div class="container">
        <div class="highlights-banner-container text-center d-none d-sm-block">
            <div class="highlights-banner">
                <div class="highlights-banner-block">
                    <div class="highlights-banner-icon">
                        <i class="bi bi-truck" aria-hidden="true"></i>
                    </div>
                    <div class="highlights-banner-para">
                        <span class="highlights-banner-heading">
                            SIMPLE SHIPPING
                        </span>
                        <p class="highlights-banner-text">Delivered with Care</p>
                    </div>
                </div>
                <div class="highlights-banner-block">
                    <div class="highlights-banner-icon">
                        <i class="bi bi-credit-card-2-back-fill" aria-hidden="true"></i>
                    </div>
                    <div class="highlights-banner-para">
                        <span class="highlights-banner-heading">
                            PAY ONLINE
                        </span>
                        <p class="highlights-banner-text">Secure Online Checkout</p>
                    </div>
                </div>
                <div class="highlights-banner-block">
                    <div class="highlights-banner-icon">
                        <i class="bi bi-cup-fill" aria-hidden="true"></i>
                    </div>
                    <div class="highlights-banner-para">
                        <span class="highlights-banner-heading">
                            ORGANIC COFFEE
                        </span>
                        <p class="highlights-banner-text">Sustainable Harvests</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  Intro section -->
<section class="bg-coffee full-bg pb-5">
    <div class="container">
        <div class="row text-center">
            <div class="col mb-4 ms-4">
                <h2 class="section-heading fst-italic">
                    We scoured the world to find the 
                    <br>
                    best coffees a home. Yours.
                </h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="text-center col-md-8 offset-md-2 col-sm-6 offset-sm-3">
                <p class="lead">
                    At RoastHive, we are dedicated to bringing you a coffee experience that transcends the ordinary. With meticulous attention to detail, we source only the highest quality coffee beans from renowned coffee-growing regions worldwide. From the rolling hills of Colombia to the lush plantations of Ethiopia, each bean is handpicked and carefully roasted to unlock its full potential.
                </p>
                <p class="lead">
                    Our team of passionate experts ensures that every cup you brew is a moment of pure bliss. We believe that coffee should be more than just a beverage - it should be an experience that awakens your senses, tantalizes your taste buds, and transports you to distant lands with each sip.
                </p>
            </div>
        </div>
    </div>
</section>
<!--  Coffee products section -->
<section class="pb-5">
    <div class="container">
        <div class="row text-center">
            <div class="col mb-4">
                <h2 class="section-heading fst-italic">Explore Our Signature Blends</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            @foreach (var product in Model.CoffeeProducts ?? new List<Product>())
            { 
                <div class="col-lg-4 col-md-12 my-3 d-flex justify-content-center">
                    <div class="card p-2">
                        <div class="p-info px-3 py-3">
                            <div>
                                <h5 class="mb-0">@product.CatId</h5>
                                <span>@product.Origin</span>
                            </div>
                        <div class="p-price d-flex flex-row"> 
                            <span>€</span> 
                            <h2>@product.UnitPrice</h2> 
                        </div> 
                    </div>
                    <div class="text-center p-image"> 
                        <img src="@product.Url" alt="@product.Name"> 
                    </div> 
                    <div class="p-about"> 
                        <p>
                            @product.Description
                        </p> 
                    </div>
                    <div class="buttons text-center d-flex justify-content-center"> 
                        <a asp-area="" asp-controller="Shop" asp-action="Details" asp-route-id="@product.ProdID" class="btn adjust-button btn-card">
                            View
                        </a>  
                    </div>  
                 </div>
            </div>
            }
        </div>
    </div>
    <div class="row text-center">
        <div class="mt-5 mb-2">
            <a asp-controller="Shop" asp-action="Index" class="btn btn-lg btn-warning text-uppercase">SHOP</a>
        </div>
    </div>
</section>
<!--  Subscription section -->
<section class="bg-coffee full-bg pb-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="section-heading fst-italic">Never Miss a Beat with Our Coffee Subscription.</h2>
            </div>
        </div>
    </div>
    <div class="container mt-3 pt-3 pb-5">
    <div class="row mt-3 section-para">
        <div class="col-md-6 mx-auto">
            <p class="lead">
                Imagine waking up to the aroma of freshly brewed coffee, knowing that a perfectly roasted and curated blend is waiting for you. With our convenient coffee subscription, you'll never have to worry about running out of your beloved beans again. 
            </p>
            <p class="lead">
                Simply choose the subscription plan that suits your coffee consumption and frequency preferences. Whether you're an avid coffee enthusiast or someone who enjoys a cup every now and then, we have flexible options to cater to your needs.
            </p>
            <p class="lead">
                As a subscriber, you'll have exclusive access to limited edition releases, seasonal favorites, and expertly crafted blends that are not available in our regular collection. Plus, you can customize your subscription to explore different flavor profiles and origins, allowing you to expand your coffee horizons with each shipment.
            </p>
        </div>
        <div class="col-md-6 text-center">
            <img class="img-fluid subscription-img" src="~/images/subscription-img.png" alt="Two small coffee bags">
        </div>
        <div class="text-center mt-5">
            <a asp-controller="Contact" asp-action="Index" class="btn btn-lg btn-warning text-uppercase">Subscribe Now</a>
        </div>
    </div>
</div>
</section>
<!-- Equipment section -->
<section class="pb-5">
    <div class="container">
        <div class="row text-center">
            <div class="col mb-2">
                <h2 class="section-heading fst-italic">Unleash Your Inner Barista</h2>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center">
        @foreach (var product in Model.EquipmentProducts ?? new List<Product>())
        {
            <div class="col-lg-4 col-md-12 my-3 d-flex justify-content-center">
                <div class="eq-card card-product-grid card-lg">
                    <div class="info-wrap">
                        <a href="#" class="img-wrap">
                            <img src="@product.Url" alt="Coffee machine">
                        </a>
                        <div class="row">
                            <div class="col-12 text-center"> 
                                <a href="#" class="title">@product.Name</a> 
                                <span class="cat">@product.CatId</span> 
                            </div>
                        </div>
                    </div>
                    <div class="bottom-wrap-payment">
                        <div class="info-wrap">
                            <div class="row text-center">
                                <div class="col-12"> 
                                    <a href="#" class="title">€ @product.UnitPrice</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-wrap text-center d-flex justify-content-center"> 
                        <a asp-area="" asp-controller="Shop" asp-action="Details" asp-route-id="@product.ProdID" class="ms-2 btn adjust-button float-start">VIEW</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row text-center">
        <div class="mt-5 mb-2">
            <a href="@Url.Action("FilterByCategory", "Shop", new { category = "EQUIPMENT" })" class="btn btn-lg btn-warning text-uppercase">Shop equipment</a>
        </div>
    </div>
</section>

<!-- Impact section -->
<section class="bg-coffee full-bg pb-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="section-heading fst-italic">
                    Making An Impact, 
                    <br>
                    One Cup At A Time.
                </h2>
            </div>
        </div>
    </div>
    <div class="container mt-3 pt-3 pb-5">
        <div class="row mt-3 section-para">
            <div class="col-md-6 text-center">
                <img class="img-fluid subscription-img" src="~/images/impact-img_r.jpg" alt="">
            </div>
            <div class="col-md-6 mx-auto">
                <p class="lead">
                    At Roast Hive, we are committed to sustainability and making a positive impact. We work closely with farmers who employ ethical and eco-friendly practices, ensuring that every cup of coffee you enjoy is not only delicious but also supports the livelihoods of coffee-growing communities. Discover our initiatives, such as fair trade partnerships and environmentally responsible packaging, as we strive to create a more sustainable future for coffee lovers worldwide.
                </p>
                <p class="lead">
                    Join us on this extraordinary coffee journey and experience the world's finest brews, unparalleled convenience, and a commitment to sustainability. Start your day with a cup of excellence.
                </p>
            </div>
        </div>
    </div>
</section>