@using RoastHiveMvc.ViewModels
@model Cart

@{
    ViewData["Title"] = "Shopping Cart";
}
@{ 
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h3>Shopping Cart</h3>
    <table cellpadding="10" cellspacing="10" border="2">
        <tr>
            <th>Option </th>
            <th>Id </th>
            <th>Name </th>
            <th>Price € </th>
            <th>Quantity </th>
            <th>Sub Total</th>
        </tr>
        @foreach (var item in Model.Items)
        {
        <tr>
            <tr>
                <td class="d-lg-table-cell"><a asp-controller="cart" asp-action="remove" asp-route-id="@item.ProductId">Remove</a> </td>
                <td class="d-lg-table-cell">@item.ProductId</td>
                <td class="d-lg-table-cell">@item.Name</td>
                <td class="d-lg-table-cell">@item.UnitPrice</td>
                <td class="d-lg-table-cell">@item.Quantity</td>
                <td class="d-lg-table-cell">@(item.UnitPrice * item.Quantity )</td>
            </tr>
        </tr>
        }
        <tr>
            <td align="right" colspan="6">Cart Total €: </td>
            <td>
                    @Model.Total
            </td>
        </tr>
    </table>
    <br />
   <a asp-controller="Shop" asp-action="Index">Continue Shopping</a>
    <a asp-controller="Shop" asp-action="Index">Go To Checkout</a>
</body>
</html>