@model Product

@{
    ViewData["Title"] = "Product Details";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center products-heading text-uppercase my-5">
                Product Details
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="product-image zoom-effect my-5">
                <a class="m-5">
                    <img src="@Model.Url" alt="" class="img-fluid product-card-img">
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container text-md-start mb-5 mt-md-5">
                <p class="mb-1 text-uppercase card-product-title">
                    <strong>@Model.Name</strong>
                </p>
                <p class="font-weight-bold mb-0 text-uppercase">
                    Price: € @Model.UnitPrice
                </p>
                <p class="small mt-1 mb-0">
                    <a class="text-muted" href="?category=">
                        <i class="bi bi-cup-hot-fill"></i><span class="ms-1">@Model.CatId</span>
                    </a>
                </p>
                <p class="m-2">
                    @Model.Description
                </p>
                <!-- Product Form -->
                <div class="form-row">
                    <form asp-action="AddToCart" asp-controller="Shop" method="get">
                        <div class="col-12">
                            <p>
                                <strong>Size:</strong>
                            </p>
                            <select class="form-control quantity-selector-size rounded-1 w-50" name="product_size" id='id_product_size'>
                                <option value="xs">220 g</option>
                                <option value="s">310 g</option>
                                <option value="m" selected>340 g</option>
                                <option value="l">500 g</option>
                                <option value="xl">1 kg</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <!-- Quantity -->
                            <p class="mt-3">
                                <strong>Quantity:</strong>
                            </p>
                            <div class="form-group w-50 quantity-selector">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black rounded-1"
                                                data-item_id="@Model.ProdID" id="@Model.ProdID">
                                            <span class="icon">
                                                <i class="bi bi-dash"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input" type="number"
                                           name="Quantity" value="1" min="1" max="99"
                                           data-item_id="@Model.ProdID" id="@Model.ProdID">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black rounded-1"
                                                data-item_id="" id="">
                                            <span class="icon">
                                                <i class="bi bi-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a asp-controller="Shop" asp-action="Index" class="btn adjust-button rounded-1 mt-5">
                                <span class="icon">
                                    <i class="bi bi-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input asp-for="ProdID" type="hidden">
                            <input asp-for="Name" type="hidden"/>
                            <input asp-for="UnitPrice" type="hidden"/>
                            <input asp-for="Url" type="hidden"/>
                            <input type="submit" class="btn checkout-button rounded-1 text-uppercase mt-5" value="Add to Cart">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>