@model IEnumerable<Product>

@{
    ViewData["Title"] = "Shop Products";
}

<!-- Hero section -->
<div class="header-content">
    <div class="container-fluid" id="hero-content">
        <div class="row text-center">
            <div id="shop-header">
                <div class="col-12 my-auto">
                    <h1 class="display-4 shop-heading text-uppercase">
                        Shop
                    </h1>
                    <h3 class="shop-sub-heading pt-4">
                        Explore a World of Coffee Delights in Our Shop. 
                    </h3>
                </div>
            </div>
        </div>
    </div>
    

<div class="container">
    <div class="row text-center mb-5">
        @foreach (var item in Model)
        {
            <!-- Product Card -->
            <div class="col-lg-4 col-md-6 col-sm-6 align-items-stretch mb-2">
                <div class="card zoom-effect h-100 border-0 mt-2">
                    <a asp-area="" asp-controller="Shop" asp-action="Details" asp-route-id="@item.ProdID" class="m-5" class="text-center mt-3 p-2">
                        <img src="@item.Url" alt="@item.Name" 
                            class="img-fluid product-card-img">
                    </a>
                    <div class="card-body pb-0 text-uppercase">
                        <a asp-controller="Shop" asp-action="Details" asp-route-id="@item.ProdID" id="product-name">
                            <p class="mb-0">@item.Name</p>
                        </a>
                    </div>
                    <div class="card-footer bg-white">
                        <div class="row">
                            <div class="col">
                                <p class="font-weight-bold">
                                    € @item.UnitPrice
                                </p>
                                <p class="small mt-1 mb-0">
                                    <a class="text-muted" href="?category=">
                                        <i class="bi bi-cup-hot-fill"></i><span class="ms-1">@item.CatId</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <hr class="product-divider">
                    </div>
                </div>
            </div>
        }
    </div>
</div>